<!--hero section start-->
<section
  class='hero-equal-height ptb-120 gradient-overlay bg-image'
  data-overlay='7'
>
  <div
    class='background-image-wraper'
    style="background: url('/assets/img/cover.jpeg')no-repeat center center / cover; opacity: 1;"
  ></div>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-9 col-lg-8'>
        <div class='hero-content-left text-white text-center'>
          <h1 class='text-white'>دنبال بازی می‌گردی؟</h1>

          <form
            method='get'
            action='/search'
            class='domain-transfer-form mt-3 w-75 d-block mx-auto'
          >
            <div class='input-group'>
              <input
                type='text'
                name='text'
                id='text'
                class='form-control'
                placeholder='Tiny toon'
                value='{{searchTitle}}'
              />
              <div class='input-group-append'>
                <button
                  class='btn search-btn btn-brand-03 btn-hover d-flex align-items-center'
                  type='submit'
                >
                  بگرد

                  <span class='ti-game mr-2'></span>

                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
<!--header section end-->